.wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.wrapper h1 {
  text-transform: uppercase;
  text-align: center;
}

.wrapper .levels input {
  font-size: 40px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
  background-color: #33cc00;
  color: brown;
  margin-bottom: 5px;
}

.wrapper #show {
  margin-top: 30px;
  line-height: 3;
  font-size: 25px;
  padding-bottom: 150px;
}

.wrapper #show input {
  font-size: 25px;
  width: 50px;
  border: 2px solid;
  text-align: center;
}

.wrapper #show #button {
  font-size: 40px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
  background-color: #33cc00;
  color: brown;
}

.wrapper #timer-out {
  position: fixed;
  top: 150px;
  right: 20px;
  display: none;
  font-weight: bold;
  font-size: 50px;
  font-family: courier;
}

.wrapper #timer-out #timer-time {
  color: green;
}

.wrapper #out-message {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: brown;
  color: white;
  font-size: 20px;
  padding: 50px;
  cursor: pointer;
  font-family: Arial;
  text-align: center;
}

.wrapper .generate-menu {
  margin-bottom: 20px;
  font-size: 30px;
}

.wrapper .generate-menu .number-exer {
  margin-bottom: 20px;
}

.wrapper .generate-menu input {
  width: 60px;
  font-size: 30px;
  border: 2px solid;
  text-align: center;
}